
Sisifos/Temp/UnityLockfile
Sisifos/Temp/__Backupscenes/0.backup
Sisifos/Temp/FSTimeGet-d6786672070099342b8e8d752816080c
Sisifos/Temp/workerlic
Sisifos/Temp/FSTimeGet-db325f782764e0a458b22ef9f2093935
Sisifos/Temp/FSTimeGet-f0d87d4a3fc71c04e940701d07300e3e
Sisifos/Temp/FSTimeGet-ee30c5bc06326844db98ab59f3af581d
Sisifos/.idea/.idea.Sisifos/.idea/projectSettingsUpdater.xml
Sisifos/.idea/.idea.Sisifos/.idea/workspace.xml
Sisifos/[Ll]ibrary
